{% extends "base.html" %}

        {% block windowtitle %}Mini Iaas - Containers{% endblock %}

        {% block pagetitle %}<h2>Containers</h2>{% endblock %}

        {% block content %}
            <p>Create a container</p>

            <br/>
            <br/>

            <p>Start a container</p>

            <br/>
            <br/>

            <p>Stop a container</p>

            <br/>
            <br/>

            <p>Delete a container</p>

            <br/>
            <br/>

        {% endblock %}