{% extends "base.html" %}
{% load render_table from django_tables2 %}

        {% block windowtitle %}Mini Iaas - Containers{% endblock %}

        {% block pagetitle %}<h2>Containers</h2>{% endblock %}

        {% block content %}
            <p><h3>Available Containers</h3></p>
            {% render_table conTable %}

            <hr>

            <p><h3>Create a container</h3></p>
            <p>Note: Creating a container typically takes between 5 and 10 minutes.</p>
            <p>However, it can take up to 20 minutes if the file cache is empty.</p>

            <form action="/containers/" method="post">
                <table>
                    {{ cform.as_table }}
                </table>
                <input type="submit" value="Create" />
            </form>

            <hr>

            <p><h3>Start a Container</h3></p>

            <hr>

            <p><h3>Stop a Container</h3></p>

            <hr>

            <p><h3>Delete a Container</h3></p>

        {% endblock %}