{% extends "base.html" %}
{% load render_table from django_tables2 %}

        {% block windowtitle %}Mini Iaas - Containers{% endblock %}

        {% block pagetitle %}<h2>Containers</h2>{% endblock %}

        {% block content %}
            <p>Available Containers:</p>
            {% render_table conTable %}

            <p>Create a container</p>

            <br/>
            <br/>

            <p>Start a container</p>

            <br/>
            <br/>

            <p>Stop a container</p>

            <br/>
            <br/>

            <p>Delete a container</p>

            <br/>
            <br/>

        {% endblock %}